<!DOCTYPE html>
<html lang="en">
<%-include("partials/head") %>
<body>
    <%-include("partials/nav") %>
    <h1 class="titlePage"><%=title %></h1>
    <form action="/login" method="post">
        <div class="formContent">
            <div class="formBlock">
                <label for="email">Username <br>(email):</label>
                <input type="text" name="username" id="email">
            </div>
            <div class="formBlock">
                <label for="password">Password:</label>
                <input type="password" name="password" id="password">
            </div>
            <button type="submit" class="formBtn">log in</button>
        </div>
    </form>
</body>
</html>