<!DOCTYPE html>
<html lang="en">
<%-include("partials/head") %>
<body>
    <%-include("partials/nav") %>
    <%-include("partials/errors") %>
    <h1 class="titlePage"><%=title %></h1>
    <form action="/createMsg" method="post">
        <div class="formContent">
            <div class="formBlock">
                <label for="title">message title:</label>
                <input type="text" name="title" id="title">
            </div>
            <div class="formBlock">
                <label for="msg">message text:</label>
                <textarea type="text" name="msg" id="msg"> </textarea>
                
            </div>
        </div>
        <button type="submit" class="formBtn">Submit</button>
    </form>
</body>
</html> 