@import url('https://fonts.googleapis.com/css2?family=Aldrich&display=swap');
body{
    height: 100vh;
    display: flex;
    flex-direction: column;
    background-color: black;
    color: aliceblue;
    font-family: "Aldrich",sans-serif;
    padding: 30px;
    
}
nav>.findBlock{
    text-align: center;
}
nav>.findBlock>h2{
    color: rgb(223, 223, 223);
    font-size: 50px;
}
.messageBoardContent{
    display: flex;
    gap: 20px;
    margin: 0 auto;
    flex-direction: column;
    justify-content: center;
}
.messageBlock{
    max-width: 500px;
}
nav>h1{
    text-align: center;
    font-size: 88px;
}
nav>h2{
    text-align: center;
}
.welcome{
    text-align: center;
 
}
input[type="checkbox"] {
        width: 30px;
        height: 30px;
            transform: scale(1.3);
        }
.titlePage{
    text-align: center;
    margin-top: 30px;
    margin-bottom: 10px;
}
.user{
    color: #00ffc3;
}
.formBtn{
    margin-top: 20px;
}
a{
    font-size: 19px;
    color: rgb(202, 25, 140);
    text-decoration: none;
}
nav a{
    font-size: 27px;
    padding: 7px;
    color: gold;
}
a:hover{
    font-weight: bold;
}
.titleBar{
   padding: 30px;
}
.titleBar{
    font-size: 21px;
}

button{
    background-color:black;
    color: rgb(87, 129, 255);
    border: none;
    font-size: 20px;
    cursor: pointer;
}

button:hover{
    font-weight: bold;
}
.titleBar button{
    color: white;
}
.titleBar h3{
    font-size: 27px;
}
form{
    margin-top: 40px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.formContent{
    margin: 0 auto;
    text-align: center;
}
.formBlock{
    font-size: 21px;
    margin-top: 10px;
    display: flex;
    gap: 40px;
    justify-content: space-between;
}
.adminBlock{
    margin-top: 20px;
    display: flex;
    gap: 30px;
    justify-content: center;
    font-size: 21px;
}
.error{
    color: red;
}
@media(max-width:700px){
    input[type="checkbox"] {
        width: 30px;
        height: 30px;
            transform: scale(1.6);
        }
    .formBlock{
        max-width: 300px;
        font-size: 16px;
        justify-content: flex-end;
    }
    body{
        padding: 10px;
    }
    .formBtn{
        font-size: 30px;
    }
    .adminBlock{
        font-size: 16px;
    }
}